# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Identify common libraries used in Data Science
- Understand basic data manipulation techniques
- Visualize data using common plotting libraries
- Learn the fundamentals of machine learning models

#Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. **NumPy** – For numerical computations and handling large multi-dimensional arrays.
2. **Pandas** – For data manipulation and analysis, including data frames.
3. **Matplotlib** – For data visualization through 2D plotting.
4. **Scikit-Learn** – For machine learning algorithms and models.
5. **TensorFlow** – For deep learning and neural networks.
6. **Seaborn** – For statistical data visualization.

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

- **Addition:** `5 + 3` → `8`
- **Subtraction:** `10 - 4` → `6`
- **Multiplication:** `7 * 2` → `14`
- **Division:** `15 / 3` → `5.0`
- **Exponentiation:** `2 ** 3` → `8`
- **Modulo:** `10 % 3` → `1`

In [14]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print(result)

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author  
Lakshmi Devi.R